<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Specification</title>
  <style>
    body {padding: 0 20% 20%;}
    h1 {text-align: center;}
  </style>
</head>
<body>
  <h1>Specification</h1>
  <p>Please create a simple NodeJS Web Service with 
    the requirements below.
  </p>
  <p>
    Web Service Requirements:
  </p>
  <ol>
    <li>
      Capable of responding to HTTP GET requests*.
    </li>
    <li>
      Should have an endpoint(/posts) that dynamically makes a request to 
      (<a href="https://jsonplaceholder.typicode.com/posts">https://jsonplaceholder.typicode.com/posts</a>) 
      and renders an EJS view using the data returned. 
      Only the title and body of all the posts should be displayed 
      in an centered and ordered HTML list on the DOM. 
      The titles should have a <b>font size of 16px and color: #3cb371</b>. 
      The body should have a <b>font size of 12px and color: #4A4A4A</b>.
    </li>
    <li>
      Should have an individual endpoint(/aboutme) that respond 
      data in JSON format for the questions below. 
      The endpoint should respond the appropriate data based 
      on query parameter q given from below. 
      If no parameter is given it should return all 
      questions and answers. The JSON response should have 
      question and answer.
      <ul>
        <li>
          Parameter: description. Returns response for question: 
          Tell me a little bit about yourself?
        </li>
        <li>
          Parameter: tech. Returns response for question: 
          What excites you about technology?
        </li>
        <li>
          Parameter: techstack. Returns response for question: 
          What is your preferred technology stack?
        </li>
        <li>
          Parameter: hobbies. Returns response for question: 
          What are your favorite hobbies?
        </li>
      </ul>
    </li>
  </ol>
  <p>
    <i>* Any request to an endpoint that is not defined 
    should ‘Not Found’ as plain text.</i>
  </p>
  
</body>
</html>